In [43]:
import pandas as pd


#para unir dataframes por filas tienen que tener el mismo índice de columnas

In [55]:
DF1 = pd.DataFrame(
                    {
                    "NOMBRE":["Jose", "Max"],
                    "CARRERA":["Economia", "Arquitectura"],
                    "EDAD":[23, 26]
                    }
                    ).set_index("NOMBRE")

In [57]:
DF2 = pd.DataFrame(
                    {"NOMBRE":["Aurora", "Maria"],
                    "CARRERA":["Medicina", "Informatica"],
                    "EDAD":[22, 28]},
                    ).set_index("NOMBRE")

In [59]:
#se genera un nuevo dataframe
# se tiene un punto de combinación, en este caso el nombre
DF  = pd.concat([DF1, DF2])

In [61]:
DF

             CARRERA  EDAD
NOMBRE
Jose        Economia    23
Max     Arquitectura    26
Aurora      Medicina    22
Maria    Informatica    28

In [80]:
# concatenacion por columnas
# debe tener el mismo indice de filas
# tienen que tener la misma cantidad de filas

DF3 = pd.DataFrame(
                        {
                          "AUTOS":["Nissa", "Ford", "Audio"],
                          "COLOR":["blanco", "azul", "rojo"]
                        }
                    ).set_index("AUTOS")

In [82]:
DF4 = pd.DataFrame(
                        {
                          "AUTOS":["Nissa", "Ford", "Audio"],
                          "MODELO":[2018, 2020, 2022]
                        }
                    ).set_index("AUTOS")

In [94]:
# axis combinacion por filas 0 VERTICAL -> por defecto
#     combinacion por columnas 1 HORIZONTAL

DF5 = pd.concat([DF3,DF4], axis=1)

In [96]:
DF5

        COLOR  MODELO
AUTOS
Nissa  blanco    2018
Ford     azul    2020
Audio    rojo    2022

In [ ]:
DF5

In [110]:

DF5 = pd.DataFrame(
                        {
                          "AUTOS":["Nissa", "Ford", "Audio"],
                          "COLOR":["blanco", "azul", "rojo"]
                        }
                    )


DF6 = pd.DataFrame(
                        {
                          "AUTOS":["Toyoya", "Ford", "Audio"],
                          "MODELO":[2018, 2020, 2022]
                        }
                    )

In [124]:
# mezclar dataframes
# integrar filas de dos dataframes que tienen información en comun
# mediante una clave

mergeDF = pd.merge(DF5, DF6, on="AUTOS", how="right")

In [126]:
mergeDF

    AUTOS COLOR  MODELO
0  Toyoya   NaN    2018
1    Ford  azul    2020
2   Audio  rojo    2022