In [1]:
import pandas as pd

In [13]:
# creamos una estructura de datos

# series recibe como parámetro un Array
naranjas = pd.Series([4,9,2,6,10,200])

In [11]:
print(naranjas)

0      4
1      9
2      2
3      6
4     10
5    200
dtype: int64

In [89]:
# usamos una lista para crear una serie
colores = pd.Series(["rojo", "azul", "verde", "blanco", "morado", "rojo"] )



print(colores)

0      rojo
1      azul
2     verde
3    blanco
4    morado
5      rojo
dtype: object

In [113]:
# usamos un diccionario para crear una serie



materias = pd.Series ({"Matemáticas":60, "Fisica": 100, "Quimica": 50})

print(materias)

Matemáticas     60
Fisica         100
Quimica         50
dtype: int64

In [79]:
# propiedades de una serie

numeros = pd.Series([1,2,3,4,5,6])
print(numeros.index)
print(numeros.dtype)

RangeIndex(start=0, stop=6, step=1)
int64

In [119]:
# acceder a un valor de una serie

colores[2:4]
materias[["Fisica", "Quimica"]]

Fisica     100
Quimica     50
dtype: int64

In [161]:
# operaciones 

numeros * 2 #multiplica todos los elementos de la lista por dos
numeros.sum() #suma los elementos de todas las listas
numeros.max() # sacar valor máximo
numeros.min() # sacar valor minimo
numeros.std() #desviación estandar
numeros.describe() # muestra las funciones básicas

count     4.000000
mean     10.000000
std       5.163978
min       4.000000
25%       7.000000
50%      10.000000
75%      13.000000
max      16.000000
dtype: float64

In [165]:
serie = pd.Series({"Matematicas": 8, "Economia": 6, "Programacion": 10, "Fisica": 5})

In [187]:
# Filtrar el contenido de la serie
serie[serie > 6]
serie.sort_values()
serie.sort_index(ascending=True)

Economia         6
Fisica           5
Matematicas      8
Programacion    10
dtype: int64

In [189]:
data = 5

In [195]:
# trabajar longitud
serie = pd.Series(data, index=[0,1,2,3,4,5])

In [197]:
print(serie)

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [211]:
# vamos a generar el indice de una lista


data_lista = ["Alejandro", "Fabian", "Antonio"]


indices = ["Antequera", "Los corrales", "Antequera"]


personas = pd.Series(data=data_lista, index=indices)
print(personas)

Antequera       Alejandro
Los corrales       Fabian
Antequera         Antonio
dtype: object

In [222]:
# crear dataframe a partir de un diccionario


data = {
        "NOMBRE": ["Maria", "Juan", "Antonio", "Francisco"], 
        "CARRERA": ["Medicina", "Enfermeria", "Matematicas", "Informatica"],
        "CORREO" : ["maria@correo.com", "juan@correo.com", "antonio@correo.com", "francisco@com"]
        }

In [228]:
# montamos el dataframe

dfEstudiantes = pd.DataFrame(data)

In [230]:
# creacion de dataframe una sola lista


df = pd.DataFrame(
                  [
                      ["Maria", 27],
                      ["David", 33], 
                      ["Jose", 24], 
                      ["Antonio", 47]
                  ],
                    columns=["NOMBRE", "EDAD"]
                  )

In [305]:
# usando libreria numpy creamos un dataframe con valores aleatorios

import numpy as np

df = pd.DataFrame(
                  np.random.randn(4,3),
                  columns=["a", "b", "c"]
                 )

print(df)

          a         b         c
0 -0.623990  1.665987 -0.764459
1 -1.823745 -1.380260  0.694046
2  0.799319 -0.161787  0.394446
3 -0.440971 -1.493188 -0.468441