In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("estudiantes.csv")

In [7]:
print(df)

  NOMBRE;EDAD;GENERO;CARRERA;SEMESTRE
0       Victor;28;M;Auditoria;Primero
1     Josefa;23;F;Informatica;Primero
2            Raul;26;M;Derecho;Quinto
3    Mariana;27;F;Informatica;Septimo
4        Rodrigo;22;M;Derecho;Tercero
5   Gustavo;25;M;Arquitectura;Septimo
6       Lucy;23;F;Informatica;Primero
7          Sofia;24;F;Economia;Noveno

In [9]:
convertir = pd.read_excel("estudiantes.xlsx")

In [17]:
convertir.to_csv(
                "estudiantes01.csv", #renombramos el fichero a csv
                index=None,   #Medimos el tamaño, sin parámetro se extrae el todo 
                header=True
                )

In [19]:
convertir = pd.read_csv("estudiantes01.csv")
convertir

    NOMBRE  EDAD GENERO       CARRERA SEMESTRE
0   Victor    28      M     Auditoria  Primero
1   Josefa    23      F   Informatica  Primero
2     Raul    26      M       Derecho   Quinto
3  Mariana    27      F   Informatica  Septimo
4  Rodrigo    22      M       Derecho  Tercero
5  Gustavo    25      M  Arquitectura  Septimo
6     Lucy    23      F   Informatica  Primero
7    Sofia    24      F      Economia   Noveno