# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [21]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [23]:
# creamos una serie de long 100, con num del 1 al 4
lista1  = np.random.randint(1, 5, size=100)

# lista de 1 al 3
lista2  = np.random.randint(1, 4, size=100)

# lista del 100000 al 30000 
lista3  = np.random.randint(10000, 30001, size=100)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [25]:
df1 = pd.DataFrame(lista1)
df2 = pd.DataFrame(lista2)
df3 = pd.DataFrame(lista3)


dfSeries = pd.concat([df1, df2, df3], axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [27]:
dfSeries.rename(columns={dfSeries.columns[0]: "bedrs"}, inplace=True)
dfSeries.rename(columns={dfSeries.columns[1]: "bathrs"}, inplace=True)
dfSeries.rename(columns={dfSeries.columns[2]: "price_sqr_meter"}, inplace=True)

In [29]:
dfSeries.head()

   price_sqr_meter  price_sqr_meter  price_sqr_meter
0                1                1            13138
1                4                2            22973
2                1                1            18818
3                2                2            15032
4                2                2            13956

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [59]:
bigcolumn = pd.concat([df1, df2, df3], axis=0)
print(type(bigcolumn))
bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       1
1       4
2       1
3       2
4       2
..    ...
95  23258
96  18392
97  15958
98  10264
99  25793

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [61]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [65]:


bigcolumn.reset_index(drop=True, inplace=True)

In [69]:
bigcolumn

         0
0        1
1        4
2        1
3        2
4        2
..     ...
295  23258
296  18392
297  15958
298  10264
299  25793

[300 rows x 1 columns]