# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [17]:
# drinks.csv

drinks = pd.read_csv("drinks.csv",sep=',')

drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [37]:
drinks.groupby("continent")["beer_servings"].mean().idxmax()

'EU'

### Step 5. For each continent print the statistics for wine consumption.

In [41]:
drinks.groupby("country")["wine_servings"].describe()

             count   mean  std    min    25%    50%    75%    max
country
Afghanistan    1.0    0.0  NaN    0.0    0.0    0.0    0.0    0.0
Albania        1.0   54.0  NaN   54.0   54.0   54.0   54.0   54.0
Algeria        1.0   14.0  NaN   14.0   14.0   14.0   14.0   14.0
Andorra        1.0  312.0  NaN  312.0  312.0  312.0  312.0  312.0
Angola         1.0   45.0  NaN   45.0   45.0   45.0   45.0   45.0
...            ...    ...  ...    ...    ...    ...    ...    ...
Venezuela      1.0    3.0  NaN    3.0    3.0    3.0    3.0    3.0
Vietnam        1.0    1.0  NaN    1.0    1.0    1.0    1.0    1.0
Yemen          1.0    0.0  NaN    0.0    0.0    0.0    0.0    0.0
Zambia         1.0    4.0  NaN    4.0    4.0    4.0    4.0    4.0
Zimbabwe       1.0    4.0  NaN    4.0    4.0    4.0    4.0    4.0

[193 rows x 8 columns]

### Step 6. Print the mean alcohol consumption per continent for every column

In [45]:
drinks.groupby("continent")["total_litres_of_pure_alcohol"].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [47]:
drinks.groupby("continent")["total_litres_of_pure_alcohol"].median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [57]:
media = drinks["spirit_servings"].mean()
maximo = drinks["spirit_servings"].max()
min = drinks["spirit_servings"].min()


# creamos un dataframe
miDF = pd.DataFrame(
                        {
                            "estadistica": ["media", "maximo", "minimo"],
                            "valor": [media, maximo, min]
                        }
                    )
miDF

  estadistica       valor
0       media   80.994819
1      maximo  438.000000
2      minimo    0.000000